@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }
.heading{
    text-align: center;
    margin-top: 3%;
}
h1,h2{
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;

}
.input-btn{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 2%;
}
.in-btn{
    padding:10px;
    width: 13%;
    transition: 1.5s;
}
.in-btn:hover{
    width:40%;
}